.pokeCard{
  height: 250px;
  width:180px;  
  border-radius: 10px;  
  margin:20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Love Ya Like A Sister', cursive;
}
.regularStyle{
  border: 3px solid #3565AE;
  background-color: lightgoldenrodyellow;
  color: black;
  text-transform: capitalize;  
}
.favStyle{
  border: 4px solid #FECD3D;
  background-color: lightsteelblue;
  color: black;
  text-transform: uppercase;
}
.pokePic{
  height: 150px;
}
.pokemonName{
  border-top:1px solid #3565AE;
  border-bottom: 1px solid #3565AE;
  width: 100%;
  display:flex;
  justify-content: center;
}
.pokeTypes{
  list-style:none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.type{
  background-color: #3565AE;
  color: #FECD3D;
  margin:5px;
  padding:0 6px;
  border-radius: 6px;
  font-size:16px;
}